In [ ]:
import mysql.connector

my_db = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="db_klinik" 
        )
dp = my_db.cursor()

if my_db.is_connected():
    print("OKE")

In [ ]:
class tb_pasien:
    def add_tb_pasien(self, nama_lengkap, tahun_lahir, alamat, jenis_kelamin):
        try:
            sql = "INSERT INTO tb_pasien (nama_lengkap, tahun_lahir, alamat, jenis_kelamin) VALUES (%s, %s, %s, %s)"
            val = (nama_lengkap, tahun_lahir, alamat, jenis_kelamin)
            dp.execute(sql, val)
            my_db.commit()
            print("Data berhasil ditambahkan pada tb_pasien")
        except Exception as e:
            print("Error: ", e)

    def read_tb_pasien(self):
        try:
            sql = "SELECT * FROM tb_pasien"
            dp.execute(sql)
            result = dp.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print("Error: ", e)

    def update_tb_pasien(self, nama_lengkap, tahun_lahir, alamat, jenis_kelamin, id_pasien):
        try:
            sql = "UPDATE tb_pasien SET nama_lengkap=%s, tahun_lahir=%s, alamat=%s, jenis_kelamin=%s WHERE id_pasien=%s"
            val = (nama_lengkap, tahun_lahir, alamat, jenis_kelamin, id_pasien)
            dp.execute(sql, val)
            my_db.commit()
            print("Data pada tb_pasien berhasil diupdate")
        except Exception as e:
            print("Error: ", e)

    def delete_tb_pasien(self, id_pasien):
        try:
            sql = "DELETE FROM tb_pasien WHERE id_pasien=%s"
            val = (id_pasien,)
            dp.execute(sql, val)
            my_db.commit()
            print("Data pada tb_pasien berhasil dihapus")
        except Exception as e:
            print("Error: ", e)

In [ ]:
class tb_kunjungan:
    def add_tb_kunjungan(self, no_kunjungan, id_pasien, id_dokter, hari_kunjungan):
        try:
            sql = "INSERT INTO tb_kunjungan (no_kunjungan, id_pasien, id_dokter, hari_kunjungan) VALUES (%s, %s, %s, %s)"
            val = (no_kunjungan, id_pasien, id_dokter, hari_kunjungan)
            dp.execute(sql, val)
            my_db.commit()
        except Exception as e:
            print("Error: ",e)

    def read_tb_kunjungan(self, no_kunjungan):
        try:
            sql = "SELECT * FROM tb_kunjungan WHERE no_kunjungan = %s"
            val = (no_kunjungan,)
            dp.execute(sql, val)
            result = dp.fetchall()
            return result
        except Exception as e:
            print("Error: ", e)

    def update_tb_kunjungan(self, id_dokter, no_kunjungan):
        try:
            sql = "UPDATE tb_kunjungan SET id_dokter = %s WHERE no_kunjungan = %s"
            val = (id_dokter, no_kunjungan)
            dp.execute(sql, val)
            my_db.commit()
            print("Data tb_kunjungan berhasil diupdate")
        except Exception as e:
            print("Error: ", e)

    def delete_tb_kunjungan(self, no_kunjungan):
        try:
            sql = "DELETE FROM tb_kunjungan WHERE no_kunjungan = %s"
            val = (no_kunjungan,)
            dp.execute(sql, val)
            my_db.commit()
            print("Data tb_kunjungan berhasil dihapus")
        except Exception as e:
            print("Error: ", e)

In [ ]:
class tb_dokter:
    def add_tb_dokter(self, id_dokter, nama_dokter, alamat_dokter, jenis_kelamin):
        try:
            sql = "INSERT INTO tb_dokter (id_dokter, nama_dokter, alamat_dokter, jenis_kelamin) VALUES (%s, %s, %s, %s)"
            val = (id_dokter, nama_dokter, alamat_dokter, jenis_kelamin)
            dp.execute(sql, val)
            my_db.commit()
        except Exception as e:
            print("Error: ",e)

    def read_tb_dokter(self, id_dokter):
        try:
            sql = "SELECT * FROM tb_dokter WHERE id_dokter = %s"
            val = (id_dokter,)
            dp.execute(sql, val)
            result = dp.fetchall()
            return result
        except Exception as e:
            print("Error: ", e)

    def update_tb_dokter(self, id_dokter, alamat_dokter):
        try:
            sql = "UPDATE tb_dokter SET alamat_dokter = %s WHERE id_dokter = %s"
            val = (alamat_dokter, id_dokter)
            dp.execute(sql, val)
            my_db.commit()
            print("Data tb_dokter berhasil diupdate")
        except Exception as e:
            print("Error: ", e)

    def delete_tb_dokter(self, id_dokter):
        try:
            sql = "DELETE FROM tb_dokter WHERE id_dokter = %s"
            val = (id_dokter,)
            dp.execute(sql, val)
            my_db.commit()
            print("Data tb_dokter berhasil dihapus")
        except Exception as e:
            print("Error: ", e)

#### tb_pasien

In [ ]:
tb_pasien().add_tb_pasien("taufik", "2003", "jalan jalan", "1")

In [ ]:
tb_pasien.read_tb_pasien(1)

In [ ]:
tb_pasien().update_tb_pasien("budi", 2004, "Jln. mawar", 1,3)

In [ ]:
tb_pasien.delete_tb_pasien("3", "id_pasien_value")

#### tb_kunjungan

In [ ]:
tb_kunjungan().add_tb_kunjungan('4', '2', 'selasa')

In [ ]:
tb_kunjungan().read_tb_kunjungan("2")

In [ ]:
tb_kunjungan().update_tb_kunjungan("1", "2")

In [ ]:
kunjungan.delete_tb_kunjungan(1)

#### tb_dokter

In [ ]:
dokter.add_tb_dokter("D001", "Dr. John Doe", "Jl. Dokter No.1", "Laki-Laki")

In [ ]:
result = tb_dokter().read_tb_dokter(4)

In [ ]:
tb_kunjungan().update_tb_kunjungan("D002", "5")

In [ ]:
dokter.delete_tb_dokter(5)